<h1>Listing agrees</h1>

<table>
  <tr>
    <th>User</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agrees.each do |agree| %>
  <tr>
    <td><%= agree.user_id %></td>
    <td><%= agree.post_id %></td>
    <td><%= link_to 'Show', agree %></td>
    <td><%= link_to 'Edit', edit_agree_path(agree) %></td>
    <td><%= link_to 'Destroy', agree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agree', new_agree_path %>
